# Emacs/Vim
*~
.*.sw[a-z]
*/#*#
#*#
*.org

# Directories
deps
bin
ebin
log
logs
dev
doc
priv
rel/railgun

# Exec
rebar
erldocs

# EUnit
.eunit

# Dialyzer
*.plt

# Compiled
*.o
*.beam

# Logging
*.dump
*.log

# OSX
.DS_Store

# Protobufs
*_pb.hrl
